.container {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  background-color: #550066;
  height: 100vh;
}
h1 {
    font-size: 32px;
    color: white;
}

.buttons {
  display: flex;

}
button {
  margin: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'estedad';
  width: 200px;
  height: 60px;
  border-radius: 16px;
  border: none;
  background-color: #550066;
  color: white;
  border: 3px solid white;
}

button:hover {
  background-color: white;
  cursor: pointer;
  color: #550066;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
  }