<div class="main">
  <div class="container">
    <h1> رژیمی می‌خوای یا چرب و چیل؟ یا یه چیز متوسط مثلا؟</h1>
  </div>
  <div class="buttons">
    <button mat-button class="medium" (click)="onClick3()" routerLink="/fourthquestion">
      <a>متوسط</a>
    </button>
    <button mat-button class="fatty" (click)="onClick2()" routerLink="/fourthquestion">
      <a>چرب و چیلی</a>
    </button>
    <button mat-button class="healthy" (click)="onClick1()" routerLink="/fourthquestion">
      <a>رژیمی</a>
    </button>
  </div>
  
</div>