<div class="main">
  <div class="container">
    <h1> با مرغ باشه یا با گوشت؟ شایدم گیاهخواری می‌خوای؟</h1>
  </div>
  <div class="buttons">
    <button mat-button class="vegetarian" (click)="onClick3()" routerLink="/thirdquestion">
      <a>گیاه‌خواری</a>
    </button>
    <button mat-button class="meat" (click)="onClick2()" routerLink="/thirdquestion">
      <a>گوشت</a>
    </button>
    <button mat-button class="chicken" (click)="onClick1()" routerLink="/thirdquestion">
      <a>مرغ</a>
    </button>
  </div>
  
</div>