<div class="main">
    <div class="container">
      <h1> سه سوته آماده بشه یا حوصله یه کمی کار داری؟ یا می‌خوای حسابی آشپزی کنی؟</h1>
    </div>
    <div class="buttons">
      <button mat-button class="slow" (click)="onClick3()" routerLink="/results">
        <a>وقت‌گیر</a>
      </button>
      <button mat-button class="normal" (click)="onClick2()" routerLink="/results">
        <a>متوسط</a>
      </button>
      <button mat-button class="fast" (click)="onClick1()" routerLink="/results">
        <a>سه‌سوته</a>
      </button>
    </div>
    
  </div>